/* registration.css */

body {
    background: linear-gradient(90deg, rgb(189, 222, 230) 0%, rgb(172, 197, 237) 83%);
}

.container {
    max-width: 600px;
    
}

.card {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.card-header {
    border-radius: 10px 10px 0 0;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.form-check-label {
    margin-right: 15px;
}

/* Add more styles as needed */
